.text-container {
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    /*line spacing of the elements  should be reduced*/

}

.hel {

    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    color: #ffd700;
    /* Yellow text color */
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000;
   
}

.ooo {

    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #ffffff;
    /* Light green text color */
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    
    /* Stylish font */
}



/* Media queries for responsiveness */
@media (max-width: 600px) {
    .hel{
        font-size: 2.5rem;
    }

    .ooo {
        font-size: 1.2rem;
    }

}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    filter: contrast(1.2) brightness(0.7);
}

/*add dark overlay to the background video*/
#background-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -999;
}


  
