.text-title {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.head-title {
    font-size: 6vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 
        -1px -1px 0 #fcd600,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.content-title {
    font-size: 3vw;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}